:root {
    --main-background: #F4F4F4;
    /* Header */
    --header-background: #FFFFFF;
    --nav-title: #3C3B3B;
    --nav-item: #828282;
    --nav-divider: #EEEEEE;

    /* Content */
    
    --content-background: #FFFFFF;
    --content-divider: #EEEEEE;
    --content-title: #3C3B3B;
    --content-title-paragraph: #8E8E8E;
    --content-published: #3C3B3B;
    --content-author: #8E8E8E;
    --content-paragraph: #3C3B3B;
    --content-button-text: #3C3B3B;
    --content-button-border: #EEEEEE;
    --content-button-disabled: #D5D5D5;

    --sidebar-minipost-card: #FFFFFF;
    --sidebar-minipost-border: #EEEEEE;
    --sidebar-minipost-title: #3C3B3B;
    --sidebar-minipost-published: #808080;

    --sidebar-posts-border: #EEEEEE;
    --sidebar-posts-title: #3C3B3B;
    --sidebar-posts-published: #808080;

    --sidebar-about-title: #3C3B3B;
    --sidebar-about-paragraph: #808080;
    
}